
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgba(64,64,64,1.0);
}

a {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

a:hover {
  cursor: pointer;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.05em;
}

input[type=text] {
  background-color: gray;
  box-shadow: 0 0 0.1em 0.1em silver;
}

input[type=number] {
  background-color: gray;
  box-shadow: 0 0 0.1em 0.1em silver;
}

select {
  background-color: gray;
}

input[type=password] {
  background-color: gray;
  box-shadow: 0 0 0.1em 0.1em silver;
}

input[type=image] {
  width: 2em;
  height: 2em;
}

.logMessage {
  color: yellow;
  font-weight: bold;
}

/******************************************/
/**  Popup Style Classes  **/

/* popup main window */
.popupWindow {
  background-color: silver;
  border-radius: 2em;
  box-shadow: 0.3em 0.3em 1em 0.5em black;
  background-color: silver;
  padding: 0.5em;
}

/* popup child window */
.popupChild {
  display: table-cell;
  background-color: silver;
  border-radius: 2em;
  vertical-align: middle;
  padding: 1em;
  box-shadow: 0.3em 0.3em 1em 0.5em black;
  line-height: 150%;
}

/* settings options */
.option {
}

/* text label for an option */
.optionLabel {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
}

/* button for popup windows */
.popupButton {
  display: table;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.5em 0.2em black;
  padding: 0.2em;
  margin: 0.2em;
  width: 8em;
  cursor: pointer;
}

/* image button text label */
.buttonLabel {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  height: 2em;
  text-shadow: -1px 1px 0 gray,
               -1px -1px 0 gray,
               1px -1px 0 gray,
               1px 1px 0 gray;
}

/******************************************/
/**  Login form and toolbar buttons  **/

#username {
  display: inline;
  position: fixed;
  z-index: 100;
  top: 0.5em;
  width: 10em;
  height: 2em;
  right: 13.5em;
}

#password {
  display: inline;
  position: fixed;
  z-index: 100;
  width: 10em;
  height: 2em;
  right: 3em;
  top: 0.5em;
}

#connect {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  z-index: 100;
  background-color: gray;
  box-shadow: 0em 0em 0.2em 0.1em silver;
}

#showsettings {
  position: fixed;
  right: 0.5em;
  top: 3em;
  z-index: 100;
  background-color: gray;
  box-shadow: 0em 0em 0.2em 0.1em silver;
}

#showinfo {
  position: fixed;
  right: 0.5em;
  top: 5.5em;
  z-index: 100;
  background-color: gray;
  box-shadow: 0em 0em 0.2em 0.1em silver;
}

/******************************************/
/**  Main terminal window  **/

#terminal {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background: black;
  left: 3em;
  right: 3em;
  top: 3em;
  bottom: 3em;
  box-shadow: 0 0 0.2em 0.1em gray;
  overflow: hidden;
}

#output {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0.5em 0.5% 0.5em 0.5%;
  left: 0;
  width: 99%;
  top: 0;
  bottom: 5em;
}

#quicklinks {
  display: table-cell;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 3em;
  height: 2em;
  vertical-align: middle;
  text-align: center;
}

#prompt {
  overflow: hidden;
  white-space: pre-wrap;
  text-align: left;
  position: absolute;
  margin: 0;
  left: 0;
  width: 100%;
  bottom: 2em;
  height: 1em;
}

#entry {
  position: absolute;
  margin: 0;
  background: black;
  color: silver;
  border: none;
  outline: none;
  vertical-align: middle;
  padding: 0.5em 0.5% 0.5em 0.5%;
  resize: none;
  left: 0;
  width: 99%;
  bottom: 0;
  height: 1em;
}

/******************************************/
/**  Help and Information popup  **/

#info-container {
  visibility: hidden;
  background-color: rgba(127,127,127,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
}

#info {
  position: absolute;
  top: 12%;
  left: 25%;
  height: 25em;
  width: 50%;
}

#help-container {
  display: table;
  position: absolute;
  left: 2em;
  width: 40%;
  bottom: 2em;
  top: 6em;
  vertical-align: middle;
}

#about-container {
  display: table;
  position: absolute;
  top: 6em;
  right: 2em;
  width: 40%;
  vertical-align: middle;
}

#info-close {
  background-color: darkred;
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 2em;
}

/******************************************/
/**  Settings  **/

#settings-container {
  visibility: hidden;
  background-color: rgba(127,127,127,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
}

#settings {
  position: absolute;
  overflow: hidden;
  background-color: silver;
  border: none;
  border-radius: 2em;
  box-shadow: 0.3em 0.3em 1em 0.5em black;
  padding: 0.5em;
  top: 12%;
  left: 25%;
  height: 25em;
  width: 50%;
}

/* settings window general options */
#option-container {
  position: absolute;
  left: 2em;
  width: 40%;
  top: 6em;
  bottom: 2em;
}

/* settings window font options */
#font-container {
  position: absolute;
  right: 2em;
  width: 40%;
  top: 6em;
}

#serverAddress {
  box-shadow: 0 0 0.1em 0.1em gray;
  width: 40%;
}

#serverPort {
  box-shadow: 0 0 0.1em 0.1em gray;
  width: 40%;
}

#keepAliveTime {
  width: 35%;
}

#settings-save {
  background-color: darkgreen;
  position: absolute;
  bottom: 1em;
  right: 11em;
  height: 2em;
}

#settings-cancel {
  background-color: darkred;
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 2em;
}

