
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgba(64,64,64,1.0);
  font-family: 'Courier New', monospace;
  font-size: 10pt;
  font-weight: normal;
}

a {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

a:hover {
  cursor: pointer;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.localEcho {
  color: yellow;
  font-weight: bold;
}

.logMessage {
  color: red;
  font-weight: bold;
}

#terminal {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background: black;
  left: 3em;
  right: 3em;
  top: 3em;
  bottom: 3em;
  box-shadow: 0 0 0.2em 0.1em gray;
  overflow: hidden;
}

#output {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0.5em 0.5% 0.5em 0.5%;
  left: 0;
  width: 99%;
  top: 0;
  bottom: 7em;
}

#quicklinks {
  display: table-cell;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 5em;
  height: 2em;
  vertical-align: middle;
  text-align: center;
}

#prompt {
  overflow: hidden;
  white-space: pre-wrap;
  text-align: left;
  position: absolute;
  margin: 0;
  left: 0;
  width: 100%;
  bottom: 4em;
  height: 1em;
}

#input {
  position: absolute;
  margin: 0;
  background: black;
  color: silver;
  border: none;
  outline: none;
  vertical-align: middle;
  padding: 0.5em 0.5% 0.5em 0.5%;
  resize: none;
  left: 0;
  width: 99%;
  bottom: 0;
  height: 3em;
}
